body {
    background-color: rgb(63, 14, 64) !important;
}
h1 {
    font-size: 1.5rem !important;
}
.container-card {
    min-height: 100vh;
    background-color: rgb(63, 14, 64);
    display: flex;
    justify-content: center !important;
    align-items: flex-start;
    width: 100%;
    padding-top: 18px;
}
.card-first {
    height: 70%;
    width: 40%;
}
.card-body {
    font-size: 0.7rem;
}
.card-title {
    font-size: 0.9rem;
}
.answer-switch {
    cursor: pointer;
}
.answer-switch:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid rgba(0, 0, 0, 0.3) !important;
}
.bg-success, .bg-danger {
    color: white;
}
.text-center {
    text-align: center;
}
.width-100 {
    width: 100%;
}
.img-end {
    height: 400px;
    object-fit: contain;
}