body {
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Lateef', cursive;
    margin: 0 !important;
}

h1 {
    font-size: 1.5rem !important;
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: black;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.container-card {
    min-height: 100vh;
    /* background-color: rgb(63, 14, 64); */
    background-image: url('./img/quiz.jpg');
    background-size: cover;

    display: flex;
    justify-content: center !important;
    align-items: flex-start;
    width: 100%;
    padding-top: 18px;
}
.top-card {
    min-height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.question-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed !important;
    top: 0;
    bottom: 0;
}
.card-first {
    height: 100%;
    width: 40%;
}
.card-body {
    font-size: 0.7rem;
}
.flex-justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-title {
    font-size: 0.9rem;
}
.answer-switch {
    cursor: pointer;
}
.answer-switch:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid rgba(0, 0, 0, 0.3) !important;
}
.bg-success, .bg-danger {
    color: white;
}
.text-center {
    text-align: center;
}
.width-100 {
    width: 100%;
}
.img-end {
    height: 400px;
    object-fit: contain;
}
.progress {
    border-radius: 0 !important;
    overflow: visible !important;
}
.button-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}
.selection-title {
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
    height: 100vh;
    padding: 12px;
}  
.category-container {
    margin: 12px !important;
}
.card-img-top{
    height: 200px;
}
.cat-img{
    max-height: 130px;
    object-fit: cover;
}
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
   
}
.height-400px{
    height: 400px !important;
}

.parameters-box{
    position: absolute;
    bottom: 0;
}